<div class="d-flex justify-content-center w-100 mt-5">
  <div class="form-bg">
    <form [formGroup]="editTaskForm" (submit)="onUpdateTask()">
      <h1>Add Task</h1>
      <br />

      <div>
        <label for="name">Task Name </label>
        <br />
        <input
          required
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
        />
      </div>
      <br />

      <div>
        <label for="description">Description </label>
        <br />
        <input
          required
          type="text"
          id="description"
          name="description"
          formControlName="description"
          class="form-control"
        />
      </div>
      <br />

      <div>
        <label for="status">status </label>
        <br />
        <input
          type="radio"
          [value]="true"
          id="status"
          name="status"
          formControlName="status"
        />
        complete
        <input
          type="radio"
          [value]="false"
          id="status"
          name="status"
          formControlName="status"
        />
        in progress
      </div>
      <br />

      <div class="text-center">
        <button
          [disabled]="!this.editTaskForm.touched && !this.editTaskForm.valid"
          type="button"
          class="btn btn-info add-todo"
          type="submit"
        >
          Edit Task
        </button>
      </div>
    </form>
  </div>
</div>
